{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sobremim.css' %}"> <!-- Responsável pela página SOBRE MIM  -->

<div id="inicio" style="height: 400px !important;"> <!-- Definindo apresentação do Site -->
    <p>Olá! Eu sou Alexandre D.</p>
    <p>Desenvolvedor <span style="color: #6918B4;">Front-End</span> e <span style="color: #6918B4;">Back-End</span></p>
</div>
<div id="sobre-mim">
    <p>Meu nome é Alexandre Douglas, no momento estou morando em Aracaju/Sergipe.</p>
    <p>Acredito que para começar falando em como descobri a programação como vocação profissional.</p>
    <p>De inicio sempre tive interesse em saber como as coisas funcionavam, principalmente nos jogos que eu amava jogar,
        como Grand Chase por exemplo, <span style="opacity: 0.6;">fiquei bastante feliz inclusive com o retorno dele nos ultimos mêses, inclusive o sentimento
        de nostalgia de tá naquela Lan House jogando o mesmo jogo que todos é uma das melhores sensações que um Nerd pode ter.</span></p>
    <p>Continuando, foi essa curiosidade que me impulsionou ao meu primeiro contato com programação através do RPG MAKER XP, apesar de que sinceramente,
        não gosto até hoje da linguagem Ruby e foi esse um dos principais motivos de eu ter largado o RPG MAKER e ter partido para o maravilhoso mundo do Python.
        Então, comecei a estudar, comprei cursos , apostilas, livros e vi que era aquilo que eu realmente queria, por conta disso hoje sou estudante de Ciência da Computação na Universidade Federal de Sergipe.
    </p>
    <p style="opacity: 0.6;">Não sou muito bom em elaborar textos, mas espero que tenha sido uma boa introdução em como dei inicio a minha tragetória como programdor.</p>

</div>


{% endblock %}