@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap'); /* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap'); /* font-family: 'Cormorant SC', serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    /* Paleta de Cores */
    --color-backgroundNavBar: #2E4159;
    --color-backgroundDark: black;

    --color-backgroundPrimario: #262626;

    --color-letras: white;

    --color-primaria: #4F4D8C;
    --color-secundaria: #5F5DA6;
    --color-terciaria: #8F8EBF;

    --color-primary: #6918B4;
    --color-secondary: #36117E;
    --color-tertiary: #8318B4;
    --color-quaternary: #1A3EB4;
    --color-quinary: #122B7E;
    /*Botões*/

    /* Cores do fundo da página */
}
body{
    background-color: var(--color-backgroundDark);
}

#conteudo{
    margin-top: 100px;
}