/* Definindo posição da Barra de Navegação */
header{
    position: fixed;
    top: 0;
    z-index: 1001;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Cormorant SC', serif;
}
header a{
    text-decoration: none;
}
header a p{
    padding-left: 5px;
    letter-spacing: 3px;
}
.toggle{
    cursor: pointer;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Mudança no botão Toggle após ativar Menu */
.toggleSVG{
    transition: all 0.8s ease;

}

.toggleSVG.ativo{
    transition: all 0.8s ease;
    transform: rotate(90deg);
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

#toggleText{
    height: 20px;
    overflow: hidden;
}

.togglePosition{
    margin-top: 0;
    transition: all 0.8s ease;
}

.togglePosition.ativo {
    margin-top: -20px;
    transition: all 0.8s ease;
}
/* Redes sociais */
.sociais{
    padding-right: 35px;
    display: flex;
}

.sociais a{
    padding: 10px;
}
.sociais a img{
    transition: all 0.8s ease;
}
/* Definindo Página de MENU */

.menu{
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    transition: all 0.8s ease;
}

.menu.ativado{
    z-index: 1000;
    opacity: 1;
    transition: all 0.8s ease;
    
}
/* Definindo atributos do Menu */
.links{
    font-family: 'Cormorant SC', serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.links a{
    font-size: 48px;
    margin: 35px;
    text-decoration: none;
    transition: all 0.8s ease;

}

/* Definindo Menu:HOVER */
.links a:hover{
    opacity: 0.6;
    font-size: 48px;
    margin: 35px;
    text-decoration: none;
    margin-left: 150px;
    transition: all 0.8s ease;
}

.sociais a img:hover{
    transform: scale(1.7);
    transition: all 0.8s ease;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 425px){
    .sociais{
        position: absolute;
        opacity: 0;
        z-index: -999;
    }
}